@import '../../assets/styles/variables';

.measurement {
  color: $white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;

  .label,
  .input-field,
  .unit {
    vertical-align: middle;
  }

  .label {
    display: inline-block;
  }

  .input-field {
    background-color: lighten($color: $pink, $amount: 10);
    border: 0;
    color: $white;
    font-size: 3rem;
    font-weight: 800;
    height: 3rem;
    margin: .5rem .1em;
    outline: 0;
    text-align: center;
    transition-property: color, background-color;
    transition-duration: .8s;
    width: 6rem;

    &:focus {
      caret-color: hsla(60, 100%, 50%, 1);
    }

    &:invalid {
      background-color: lighten($color: $pink, $amount: 10);
      animation: blinkingText 1.2s infinite;
      color: $black;
    }

    &:valid {
      background-color: transparent;
    }
  }
}

@keyframes blinkingText{
	0%{		color: #000;	}
  49%{	color: #000;	}
	60%{	color: transparent;	}
	99%{	color: transparent;	}
	100%{	color: #000;	}
}